@import 'tailwindcss';

@theme {
  /* --- Primitive --- */

  /* Gray */
  --color-gray-1000: #1a1a1a;
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-300: #d1d5db;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f3f4f6;
  --color-gray-50: #f9fafb;
  --color-gray-0: #ffffff;

  /* Primary */
  --color-primary-950: #03163a;
  --color-primary-900: #1b2a6b;
  --color-primary-800: #24378c;
  --color-primary-700: #2e47b5;
  --color-primary-600: #3b5be8;
  --color-primary-500: #4164ff;
  --color-primary-400: #6783ff;
  --color-primary-300: #8097ff;
  --color-primary-200: #a8b8ff;
  --color-primary-100: #c4cfff;
  --color-primary-50: #ecf0ff;

  /* Secondary */
  --color-secondary-950: #1e233a;
  --color-secondary-900: #202a57;
  --color-secondary-800: #2a3872;
  --color-secondary-700: #374894;
  --color-secondary-600: #465cbd;
  --color-secondary-500: #4d65d0;
  --color-secondary-400: #7184d9;
  --color-secondary-300: #8898e0;
  --color-secondary-200: #adb8e9;
  --color-secondary-100: #c8cff0;
  --color-secondary-50: #edf0fa;

  /* Tertiary */
  --color-tertiary-950: #441306;
  --color-tertiary-900: #6b2917;
  --color-tertiary-800: #8c361e;
  --color-tertiary-700: #b44627;
  --color-tertiary-600: #e75932;
  --color-tertiary-500: #fe6237;
  --color-tertiary-400: #fe815f;
  --color-tertiary-300: #fe9679;
  --color-tertiary-200: #ffb7a3;
  --color-tertiary-100: #ffcec1;
  --color-tertiary-50: #ffefeb;

  /* Skyblue */
  --color-skyblue-900: #34526b;
  --color-skyblue-700: #588ab5;
  --color-skyblue-500: #7cc3ff;
  --color-skyblue-300: #a7d7ff;
  --color-skyblue-100: #d6ecff;

  /* Yellow */
  --color-yellow-900: #973c00;
  --color-yellow-700: #e17100;
  --color-yellow-500: #ffb62e;
  --color-yellow-300: #ffce73;
  --color-yellow-100: #ffe8be;

  /* Error */
  --color-error-950: #260903;
  --color-error-900: #390d05;
  --color-error-800: #5c180a;
  --color-error-700: #8a240f;
  --color-error-600: #bd2c0f;
  --color-error-500: #de3412;
  --color-error-400: #f05f42;
  --color-error-300: #f48771;
  --color-error-200: #f7afa1;
  --color-error-100: #fcdfd9;
  --color-error-50: #fdefec;

  /* Warning */
  --color-warning-950: #241800;
  --color-warning-900: #2e1f00;
  --color-warning-800: #422c00;
  --color-warning-700: #614100;
  --color-warning-600: #8a5c00;
  --color-warning-500: #9e6a00;
  --color-warning-400: #c78500;
  --color-warning-300: #ffb114;
  --color-warning-200: #ffc95c;
  --color-warning-100: #ffe0a3;
  --color-warning-50: #fff3db;

  /* Success */
  --color-success-950: #0e2012;
  --color-success-900: #122b18;
  --color-success-800: #1f4727;
  --color-success-700: #285d33;
  --color-success-600: #267337;
  --color-success-500: #228738;
  --color-success-400: #3fa654;
  --color-success-300: #7ec88e;
  --color-success-200: #a9dab4;
  --color-success-100: #d8eedd;
  --color-success-50: #eaf6ec;

  /* --- Mode --- */

  /* Background */
  --color-bg-white: var(--color-gray-0);
  --color-bg-gray-subtle: var(--color-gray-200);
  --color-bg-gray-subtler: var(--color-gray-100);
  --color-bg-inverse: var(--color-gray-900);
  --color-bg-inverse-subtle: var(--color-gray-400);
  --color-bg-inverse-subtler: var(--color-gray-300);
  --color-bg-dim: rgba(0, 0, 0, 0.5);

  /* Text */
  --color-text-basic: var(--color-gray-900);
  --color-text-basic-inverse: var(--color-gray-0);
  --color-text-subtle: var(--color-gray-600);
  --color-text-disabled: var(--color-gray-400);
  --color-text-primary: var(--color-primary-600);
  --color-text-secondary: var(--color-secondary-800);
  --color-text-tertiary: var(--color-tertiary-700);
  --color-text-error: var(--color-error-600);
  --color-text-warning: var(--color-warning-600);
  --color-text-success: var(--color-success-600);

  /* Border */
  --color-border-transparency: transparent;
  --color-border-disabled: var(--color-gray-300);
  --color-border-gray-light: var(--color-gray-200);
  --color-border-gray: var(--color-gray-300);
  --color-border-gray-dark: var(--color-gray-600);
  --color-border-gray-darker: var(--color-gray-900);
  --color-border-primary: var(--color-primary-500);
  --color-border-primary-light: var(--color-primary-100);
  --color-border-secondary: var(--color-secondary-800);
  --color-border-secondary-light: var(--color-secondary-100);
  --color-border-tertiary: var(--color-tertiary-500);
  --color-border-tertiary-light: var(--color-tertiary-100);
  --color-border-error: var(--color-error-500);
  --color-border-error-light: var(--color-error-100);
  --color-border-warning: var(--color-warning-500);
  --color-border-warning-light: var(--color-warning-100);
  --color-border-success: var(--color-success-500);
  --color-border-success-light: var(--color-success-100);

  /* Surface */
  --color-surface-white: var(--color-gray-0);
  --color-surface-inverse: var(--color-gray-900);
  --color-surface-gray-subtler: var(--color-gray-50);
  --color-surface-gray-subtle: var(--color-gray-100);
  --color-surface-disabled: var(--color-gray-200);
  --color-surface-primary-subtler: var(--color-primary-50);
  --color-surface-secondary-subtler: var(--color-secondary-50);
  --color-surface-point-subtler: var(--color-tertiary-50);
  --color-surface-success-subtler: var(--color-success-50);
  --color-surface-warning-subtler: var(--color-warning-50);
  --color-surface-error-subtler: var(--color-error-50);

  /* Divider */
  --color-divider-gray-light: var(--color-gray-200);
  --color-divider-gray: var(--color-gray-400);
  --color-divider-gray-dark: var(--color-gray-500);
  --color-divider-gray-darker: var(--color-gray-900);
  --color-divider-inverse: var(--color-gray-0);
  --color-divider-primary: var(--color-primary-500);
  --color-divider-primary-light: var(--color-primary-100);
  --color-divider-secondary: var(--color-secondary-500);
  --color-divider-secondary-light: var(--color-secondary-100);
  --color-divider-error: var(--color-error-500);
  --color-divider-tertiary: var(--color-tertiary-500);

  /* Graphic */
  --color-graphic-skyblue: var(--color-skyblue-100);
  --color-graphic-skyblue-subtle: var(--color-skyblue-300);
  --color-graphic-skyblue-subtler: var(--color-skyblue-500);
  --color-graphic-skyblue-dark: var(--color-skyblue-700);
  --color-graphic-skyblue-darker: var(--color-skyblue-900);
  --color-graphic-yellow-subtler: var(--color-yellow-100);
  --color-graphic-yellow-subtle: var(--color-yellow-300);
  --color-graphic-yellow: var(--color-yellow-500);
  --color-graphic-yellow-dark: var(--color-yellow-700);
  --color-graphic-yellow-darker: var(--color-yellow-900);

  /* Button */
  --color-button-primary-fill: var(--color-primary-500);
  --color-button-primary-fill-hover: var(--color-primary-700);
  --color-button-primary-fill-pressed: var(--color-primary-800);
  --color-button-secondary-fill: var(--color-primary-50);
  --color-button-secondary-fill-hover: var(--color-primary-100);
  --color-button-secondary-fill-pressed: var(--color-primary-200);
  --color-button-secondary-border: var(--color-primary-500);
  --color-button-tertiary-fill: transparent;
  --color-button-tertiary-fill-hover: var(--color-gray-100);
  --color-button-tertiary-fill-pressed: var(--color-gray-200);
  --color-button-tertiary-border: var(--color-gray-600);
  --color-button-text-fill: transparent;
  --color-button-text-fill-hover: var(--color-secondary-50);
  --color-button-text-fill-pressed: var(--color-secondary-100);
  --color-button-text-border: transparent;
  --color-button-disabled-fill: var(--color-gray-300);
  --color-button-disabled-border: var(--color-gray-400);

  /* Icon */
  --color-icon-gray: var(--color-gray-800);
  --color-icon-gray-light: var(--color-gray-700);
  --color-icon-gray-fill: var(--color-gray-300);
  --color-icon-inverse: var(--color-gray-0);
  --color-icon-disabled: var(--color-gray-400);
  --color-icon-primary: var(--color-primary-500);
  --color-icon-secondary: var(--color-secondary-800);

  /* Action */
  --color-action-white: var(--color-gray-0);
  --color-action-gray-light: var(--color-gray-100);
  --color-action-primary: transparent;
  --color-action-primary-hover: var(--color-primary-50);
  --color-action-primary-pressed: var(--color-primary-100);
  --color-action-primary-selected: var(--color-primary-50);
  --color-action-primary-active: var(--color-primary-500);
  --color-action-tag-secondary: var(--color-primary-300);
  --color-action-tag-tertiary: var(--color-primary-100);
  --color-action-secondary: transparent;
  --color-action-secondary-hover: var(--color-secondary-50);
  --color-action-secondary-pressed: var(--color-secondary-100);
  --color-action-secondary-selected: var(--color-secondary-50);
  --color-action-secondary-active: var(--color-secondary-800);
  --color-action-disabled: var(--color-gray-200);

  /* Link */
  --color-link-default: var(--color-primary-500);
  --color-link-hover: var(--color-primary-600);
  --color-link-active: var(--color-tertiary-500);
}

/* --- Typography --- */

@layer base {
  * {
    line-height: 1.5;
  }
}

/* Display */
@utility display-base {
  font-size: 3.5rem;
}
@utility display-sm {
  font-size: 2.25rem;
}

/* Heading */
@utility heading-2xl {
  font-size: 3rem;
}
@utility heading-xl {
  font-size: 2.5rem;
}
@utility heading-lg {
  font-size: 2rem;
}
@utility heading-base {
  font-size: 1.5rem;
}
@utility heading-sm {
  font-size: 1.25rem;
}
@utility heading-xs {
  font-size: 1rem;
}

/* Body */
@utility body-xl {
  font-size: 1.25rem;
}
@utility body-lg {
  font-size: 1.125rem;
}
@utility body-base {
  font-size: 1rem;
}
@utility body-sm {
  font-size: 0.875rem;
}
@utility body-xs {
  font-size: 0.75rem;
}

/* Detail */
@utility detail-lg {
  font-size: 1.125rem;
}
@utility detail-base {
  font-size: 1rem;
}
@utility detail-sm {
  font-size: 0.875rem;
}
@utility detail-xs {
  font-size: 0.75rem;
}
